
params.vep_db = '/scratch/pawsey0933/long_read/references/homo_sapiens/112_GRCh38/'
params.revel_db = '/software/projects/pawsey0933/long_read/pipeface/references/new_tabbed_revel_grch38.tsv.gz'
params.gnomad_db = '/scratch/pawsey0933/long_read/references/gnomad.joint.v4.1.sites.chrall.vcf.gz'
params.clinvar_db = '/software/projects/pawsey0933/long_read/pipeface/references/clinvar_20240825.vcf.gz'
params.cadd_snv_db = '/scratch/pawsey0933/long_read/references/whole_genome_SNVs.tsv.gz'
params.cadd_indel_db = '/software/projects/pawsey0933/long_read/pipeface/references/gnomad.genomes.r4.0.indel.tsv.gz'
params.cadd_sv_db = '/software/projects/pawsey0933/long_read/pipeface/references/1000G_phase3_SVs.tsv.gz'
params.spliceai_snv_db = '/scratch/pawsey0933/long_read/references/spliceai_scores.raw.snv.hg38.vcf.gz'
params.spliceai_indel_db = '/scratch/pawsey0933/long_read/references/spliceai_scores.raw.indel.hg38.vcf.gz'
params.alphamissense_db = '/software/projects/pawsey0933/long_read/pipeface/references/AlphaMissense_hg38.tsv.gz'

process {

    executor = 'slurm'
    project = 'pawsey0933'
    storage = '/scratch/pawsey0933/long_read'
//    beforeScript = 'module use -a /g/data/if89/apps/modulefiles && module use -a /g/data/if89/shpcroot/modules'

    withName: 'scrape_settings' {
        queue = 'work'
        cpus = '1'
        memory = '4GB'
        time = '20m'
    }

    withName: 'scrape_bam_header' {
        queue = 'work'
        cpus = '1'
        memory = '4GB'
        time = '20m'
        container = 'quay.io/biocontainers/samtools:1.21--h96c455f_1'
    }

    withName: 'merge_runs' {
        queue = 'work'
        cpus = '1'
        memory = '4GB'
        time = '6h'
        container = 'quay.io/biocontainers/samtools:1.21--h96c455f_1'
    }

    withName: 'minimap2' {
        queue = 'work'
        cpus = '16'
        memory = '64GB'
        time = '14h'
        container = 'niemasd/minimap2_samtools:2.28_1.20'
    }

    withName: 'minimod' {
        queue = 'work'
        cpus = '8'
        memory = '32GB'
        disk = '10GB'
        time = '2h'
        env.minimod = '/software/projects/pawsey0933/long_read/pipeface/references/minimod-v0.3.0/minimod'
    }

    withName: 'mosdepth' {
        queue = 'work'
        cpus = '8'
        memory = '32GB'
        time = '2h'
        container = 'quay.io/biocontainers/mosdepth:0.3.10--h4e814b3_1'
    }

    withName: 'clair3' {
        queue = 'work'
        cpus = '32'
        memory = '128GB'
        disk = '10GB'
        time = '9h'
        container = 'quay.io/biocontainers/clair3:1.0.10--py39hd649744_1'
    }

    withName: 'deepvariant_dry_run' {
        queue = 'work'
        cpus = '1'
        memory = '4GB'
        time = '20m'
        container = 'google/deepvariant:pangenome_aware_deepvariant-1.8.0-gpu'
    }

    withName: 'deepvariant_make_examples' {
        queue = 'work'
        cpus = '104'
        memory = '500GB'
        disk = '10GB'
        time = '2h'
        container = 'google/deepvariant:pangenome_aware_deepvariant-1.8.0-gpu'
    }

    withName: 'deepvariant_call_variants' {
        queue = ''
        cpus = '12'
        gpus = '1'
        memory = '96GB'
        disk = '10GB'
        time = '2h'
        container = 'google/deepvariant:pangenome_aware_deepvariant-1.8.0-gpu'
    }

    withName: 'deepvariant_post_processing' {
        queue = 'work'
        cpus = '14'
        memory = '128GB'
        disk = '10GB'
        time = '1h'
        container = 'google/deepvariant:pangenome_aware_deepvariant-1.8.0-gpu'
    }

    withName: 'split_multiallele|joint_split_multiallele' {
        queue = 'work'
        cpus = '1'
        memory = '4GB'
        time = '1h'
        container = 'quay.io/biocontainers/bcftools:1.21--h3a4d415_1'
    }

    withName: 'vep_snv|vep_sniffles_sv|vep_cutesv_sv' {
        queue = 'work'
        cpus = '32'
        memory = '128GB'
        time = '24h'
        container = 'quay.io/biocontainers/ensembl-vep:112.0--pl5321h2a3209d_0'
    }

    withName: 'whatshap_phase|whatshap_haplotag' {
        queue = 'work'
        cpus = '4'
        memory = '16GB'
        time = '10h'
        container = 'quay.io/biocontainers/whatshap:2.3--py311he264feb_3'
    }

    withName: 'whatshap_joint_phase' {
        queue = 'work'
        cpus = '4'
        memory = '16GB'
        time = '24h'
        container = 'quay.io/biocontainers/whatshap:2.3--py311he264feb_3'
    }

    withName: 'deeptrio_dry_run' {
        queue = 'work'
        cpus = '1'
        memory = '4GB'
        time = '20m'
        container = 'google/deepvariant:deeptrio-1.8.0-gpu'
    }

    withName: 'deeptrio_make_examples' {
        queue = 'work'
        cpus = '104'
        memory = '500GB'
        disk = '10GB'
        time = '6h'
        container = 'google/deepvariant:deeptrio-1.8.0-gpu'
    }

    withName: 'deeptrio_call_variants' {
        queue = ''
        cpus = '12'
        gpus = '1'
        memory = '96GB'
        disk = '1GB'
        time = '3h'
        container = 'google/deepvariant:deeptrio-1.8.0-gpu'
    }

    withName: 'deeptrio_postprocessing' {
        queue = 'work'
        cpus = '14'
        memory = '128GB'
        disk = '10GB'
        time = '3h'
        container = 'google/deepvariant:deeptrio-1.8.0-gpu'
    }

    withName: somalier {
        queue = 'work'
        cpus = '1'
        memory = '4GB'
        time = '1h'
        container = 'quay.io/biocontainers/somalier:0.2.19--h0c29559_0'
    }

    withName: 'glnexus' {
        queue = 'work'
        cpus = '1'
        memory = '64GB'
        time = '2h'
        container = 'quay.io/pacbio/glnexus:v1.4.3'
    }

    withName: 'pbcpgtools' {
        queue = 'work'
        cpus = '48'
        memory = '192GB'
        time = '2h'
        container = 'mgibio/pb-cpg-tools:2.3.2'
    }

    withName: 'sniffles' {
        queue = 'work'
        cpus = '4'
        memory = '16GB'
        time = '1h'
        container = 'quay.io/biocontainers/sniffles:2.6.2--pyhdfd78af_0'
    }

    withName: 'cutesv' {
        queue = 'work'
        cpus = '8'
        memory = '32GB'
        time = '1h'
        container = 'quay.io/biocontainers/cutesv:2.1.1--pyhdfd78af_0'
    }

    withName: 'jasmine_sniffles|jasmine_cutesv' {
        queue = 'work'
        cpus = '8'
        memory = '32GB'
        time = '6h'
        container = 'quay.io/biocontainers/jasminesv:1.1.5--hdfd78af_0'
    }

}
